<!-- Load static files -->
{% load static %}

<!-- Head -->
<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

	<!-- Custom Static css  -->
	<link rel="stylesheet" type="text/css" href="{% static  'LandingPage/main.css' %}" />

	<!-- Set Title -->
	{% if title %}
		<title>Legal Bot - {{ title }}</title>
	{% else %}
		<title>Default Title (Shouldn't be reached)</title>
	{% endif %}
</head>

<!-- Body -->
<body>

	<!-- Header -->
	<header class="site-header">
	  
	  <!-- Nav Bar structure -->
	  <nav class="navbar navbar-expand-md navbar-dark bg-banner fixed-top">
	    <div class="container">
	      <!-- Banner - Home Page main link -->
	      <a class="navbar-brand mr-4" href="/">Legal Bot</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <!-- Banner - Sub menu -->
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{% url 'LegalBot-about' %}">About</a>
	          <a class="nav-item nav-link" href="{% url 'LegalBot-orange' %}">Orange</a>
	          <a class="nav-item nav-link" href="{% url 'LegalBot-stats' %}">Statistics</a>
	          <a class="nav-item nav-link" href="{% url 'LegalBot-results' %}">Results</a>
	          <a class="nav-item nav-link" href="{% url 'LegalBot-docs' %}">Documentation</a>
   	        </div>
	      </div>
	    </div>
	  </nav>
	</header>

	<!-- Embeddable content block -->
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-12">
	    	<!-- Display any one time messages above the content block -->
			{% if messages %}
				<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}

	      {% block content %}{% endblock %}
	    </div>
      </div>
	</main>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	
	<!-- Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>