{% extends "LandingPage/base.html" %}

{% block content%}
   
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2"><b>Brief</b></a>
        </div>
        <br />
        <p>
        	This website is built using the Django Framework. The original intention behind this is that it would allow easy integration of python scripts into the website itself thus any python programming done for the project could be included. It also provides an easy to use framework to build a professional looking website.
    	</p>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2"><b>Django</b></a>
        </div>
        <br />
        <p>
        	Django is a web development platform which a design pattern similar to Model-View-Controllers known as "Model-Template-View"
       	</p>
      </div>
    </article>


        <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2"><b>Directory Structure</b></a>
        </div>
        <br />
        <p>
        	The Directory structure is as follows: 
       	</p>
      </div>
    </article>


     <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2"><b>Testing</b></a>
        </div>
        <br />
        <p>
        	PLACE HOLDER
       	</p>
      </div>
    </article>


{% endblock content %}